main {
    width: 100%;
    background-color: var(--color-bord);
    margin: 0rem;
    /* overflow: hidden; */
    /* position: absolute; */
}

h1 {
    font: var(--h1);
    color: var(--color-bord);
    margin: 0;
    padding: var(--size-s) 0 var(--size-s);
    text-align: center;
}

h2 {
    font: var(--h2);
    color: var(--color-w);
    margin: 0;
    padding: var(--size-xxl) 0 var(--size-m);
    text-align: center;
}

/* COLLECTION */

/* #collections-container {
    margin: 0 var(--size-5xl);
} */

.collection {
    display: none;
    margin: 0 var(--size-5xl);
}

.collection.active {
    display: block;
}

.collection h3 {
    font: var(--h3);
    color: var(--color-bord);
    margin: 0;
    padding: var(--size-s) 0 var(--size-s);
    text-align: center;
}

.show-all .collection {
    display: block;
    padding-bottom: 1rem;
}

.img {
    columns: 18rem;
    padding: var(--size-m) 0;
}

.photo {
    width: 100%;
    margin-bottom: 1em;
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);
}
