main {
    width: 100%;
    background-color: var(--color-bord);
    margin: 0rem;
    /* overflow: hidden; */
    /* position: absolute; */
}

h1 {
    font: var(--h1);
    color: var(--color-bord);
    margin: 0;
    padding: var(--size-s) 0 var(--size-s);
    text-align: center;
}

h2 {
    font: var(--h2);
    color: var(--color-w);
    margin: 0;
    padding: var(--size-xxl) 0 var(--size-m);
    text-align: center;
}


/* POSTER */

.poster {
    width: 100%;
}

#image-track {
    display: flex;
    gap: 4vmin;
    /* position: absolute;
    left: 50%;
    top: 50%; */
    /* margin-left: 50%;
    margin-top: 15rem; */
    align-items: center;
    transform: translate(25%, 0%);
    user-select: none; /* -- Prevent image highlighting -- */
    /* overflow-x: auto; */
    width: max-content;
}

#image-track>.image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}


/* INTRO */

.intro {
    margin: 0 auto 4rem;
    /* padding: 4rem auto 4rem; */
    width: 40rem;
    text-align: left;
    list-style-type: none;
}

.intro p, .intro a {
    color: var(--color-w);
    font-size: var(--size-xxxl);
    margin: 0;
    text-transform: uppercase;
}

.intro a {
    text-decoration: none;
}

.autoRotate {
    display: flex;
    justify-self: center;
    animation: autoRotateAnimation;
    animation-timeline: view();
    height: 20rem;
}

@keyframes autoRotateAnimation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.line {
    display: flex;
    justify-content: space-between;
}

#text:has(.fancy:hover) .word:not(.fancy:hover) {
    opacity: 0.2;
}

.fancy > .letter {
    display: inline-block;
    transition: transform 350ms ease;
}

.fancy:hover > .letter {
    transition-duration: 800ms;
}

.fancy:hover > .letter:nth-child(1) {
    transform: translate(-40%, 60%) rotate(8deg);
}

.fancy:hover > .letter:nth-child(2) {
    transform: translate(-40%, 20%) rotate(4deg);
}

.fancy:hover > .letter:nth-child(3) {
    transform: translate(-10%, 60%) rotate(-8deg);
}

.fancy:hover > .letter:nth-child(4) {
    transform: translate(0%, -20%) rotate(5deg);
}

.fancy:hover > .letter:nth-child(5) {
    transform: translate(-20%, 30%) rotate(-3deg);
}

.fancy:hover > .letter:nth-child(6) {
    transform: translate(0%, -40%) rotate(-5deg);
}

.fancy:hover > .letter:nth-child(7) {
    transform: translate(0%, 15%) rotate(10deg);
}

.fancy:hover > .letter:nth-child(8) {
    transform: translate(50%, -10%) rotate(-3deg);
}


/* LIST */

.home-collection {
    margin: 0 var(--size-5xl);
}

.list {
    /* column-count: 3; */
    columns: 18.75rem;
    padding: var(--size-m) 0;
}

.photo {
    width: 100%;
    margin-bottom: 1em;
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);
}

@keyframes autoShowAnimation {
    from{
        opacity: 0;
        transform: translateY(12rem) scale(0.3);
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

/* SMALL LIST */

.small-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    margin: auto 3rem;
    padding: 2rem auto 5rem;
}

.small-list .item {
    transition: .5s;
    filter: brightness(0);
}

.small-list .item:hover {
    filter: brightness(1);
    transform: translateZ(200px);
}

.small-list .item:hover + * {
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(40deg);
}

.small-list .item:hover + * + * {
    filter: brightness(0.4);
    transform: translateZ(70px) rotateY(20deg);
}

.small-list .item:has(+ * :hover) {
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(-40deg);
}

.small-list .item:has(+ * + * :hover) {
    filter: brightness(0.4);
    transform: translateZ(70px) rotateY(-20deg);
}

.item img {
    /* height: 5rem; */
    width: 10rem;
}

/* HOME ABOUT */
.home-about {
    margin: 0 auto;
    padding-bottom: 2rem;
    width: 40rem;
    text-align: left;
    list-style-type: none;
    text-decoration: none;
}

.home-about li {
    color: var(--color-w);
}

.home-about h3 {
    font: var(--h3);
    color: var(--color-w);
}
